body {
  /* font-family: 'Josefin Sans'; */
  background-color: #FFFAFB;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.banner-img {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
  border-bottom-left-radius: 55px;
}

.exer-img {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 600px;
  margin-top: -100px;
}

.typo {
  position: absolute;
  top: 70px;
}

.ex-box {
  width: 360px;
  height: 400px;
  background: #fff;
  /* border-bottom-left-radius: 20px; */
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.lightText {
  color: #3A1212;
}


.lightText:hover {
  color: #FF2625;
}

.darkText {
  color: #3A1212;
  /* color: '#3A1212', */
}

.darkText:hover {
  color: #FF2625;
}

.ex-box img {
  height: 295px;
  border-radius: 25px;
}

.ex-box:hover {
  transform: scale(1.1, 1.1);
  border-top: 4px solid #FF2625;
}

.detail-image {
  height: 742px;
  width: 729px;
}

@media screen and (max-width:1200px) {
  .banner-img {
    display: none;
  }

  .ex-box {
    width: 320px;
  }

  .detail-image {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width:400px) {
  .ex-box{
    width: 280px;
  }
}